body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
  width: 100%;
}

section {
  padding: 2em;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  box-sizing: border-box;
}

h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
}
