<footer class="footer">
    <script src="script.js"></script>
        <a href="https://www.instagram.com/your_instagram_username" target="_blank" rel="noopener noreferrer">
            <img src="instagram-icon.png" alt="Instagram">
        </a>
        <a href="https://twitter.com/your_twitter_username" target="_blank" rel="noopener noreferrer">
            <img src="twitter-icon.png" alt="Twitter">
        </a>
        <a href="https://www.facebook.com/your_facebook_page" target="_blank" rel="noopener noreferrer">
            <img src="facebook-icon.png" alt="Facebook">
        </a>
    </div>
</footer>