
<footer class="main-footer">
    <div class="container main-footer-container">
    <h3 class="band-name band-name-footer">Fitplanr</h3>
    <ul class="nav footer-nav">
        <li>
            <a href="https://youtube.com" target="_blank">
                <img src="images/purple-gradiend-social-media-logo_197792-1883 (1).avif" width="50">
            </a>
        </li>
        <li>
            <a href="https://spotify.com" target="_blank">
            <img src="images/spotify logo.png" width="50">
        </a>
        </li>
        <li>
            <a href="https://instagram.com" target="_blank">
            <img src="images/instagram logo.png" width="50">
        </a>
        </li>
    </ul>
</div>
    
</footer>