
<<<<<<< HEAD
<footer class="main-footer">
    <div class="container main-footer-container">
    <h3 class="band-name band-name-footer">Fitplanr</h3>
    <ul class="nav footer-nav">
        <li>
            <a href="https://youtube.com" target="_blank">
                <img src="images/purple-gradiend-social-media-logo_197792-1883 (1).avif" width="50">
            </a>
        </li>
        <li>
            <a href="https://spotify.com" target="_blank">
            <img src="images/spotify logo.png" width="50">
        </a>
        </li>
        <li>
            <a href="https://instagram.com" target="_blank">
            <img src="images/instagram logo.png" width="50">
=======
<footer class="footer">
    <script src="script.js"></script>
        <a href="www.instagram.com/your_instagram_username" target="_blank" rel="noopener noreferrer">
            <img src="instagram-icon.png" alt="Instagram">
        </a>
        <div"https://twitter.com/your_twitter_username" target="_blank" rel="noopener noreferrer">
            <img src="/images/Twitter-new-cross-mark-Icon-PNG-X.jpg" alt="Twitter">
>>>>>>> 9cab6349c55e77aebf4f13a17dccdaae4f7a4257
        </a>
        </li>
    </ul>
</div>
    
</footer>