<header class="main-header">
    <nav class="nav main-nav">
      <ul>
        <li><a href = "/">HOME</a></li> 
<<<<<<< Updated upstream
        <li><a href = "workout">test</a></li>
        <li><a href = "activities">test</a></li>
=======
        <li><a href = "planner">PLANNER</a></li>
        <li><a href = "login">LOGIN</a></li>
        <li><a href = "calendar">CALENDAR</a></li>
        <li><a href = "gyms">GYMS</a></li>
        <li><a href = "nutrition">NUTRITION</a></li>
>>>>>>> Stashed changes
      </ul>
    </nav>
  </header>