<header class="main-header">
    <nav class="nav main-nav">
      <ul>
        <li><a href = "/">HOME</a></li> 
        <li><a href = "workout">test</a></li>
        <li><a href = "planner">planner</a></li>
      </ul>
    </nav>
  </header>