<header class="main-header">
    <nav class="nav main-nav">
      <ul>
        <li><a href= "/">HOME</a></li>
        <li><a href= "login">LOGIN</a></li>
        <li><a href= "signup">SIGN UP</a></li>
      </ul>
    </nav>
  </header>