<!DOCTYPE html>
<html>

<%- include('layouts/header.ejs') %>

<%- include('layouts/navbar.ejs') %>
<body class="homepage centerItems">
    <header>
        <h1>FitPlanr</h1>
        <h2>Your Fitness Journey Starts Here, <%= user.name %>!</h1>
    </header>

    <section id="about">
        <h2 class="homepage-h2">About Us</h2>
        <p>Welcome to FitPlanr, your ultimate destination for fitness enthusiasts. Discover personalized workout plans, nutrition guidance, and a wealth of health and wellness tips.</p>
    </section>

    <section id="services">
        <h2 class="homepage-h2">Our Services</h2>
        <ul>
            <li>Personalized Workout Plans</li>
            <li>Nutrition Guidance</li>
            <li>Access to Gyms</li>
            <li>Calender and Motivation</li>
            <li>Health and Wellness Tips</li>
        </ul>
    </section>

  <%- include('layouts/footer.ejs') %>
</body>
</html>
