<!DOCTYPE html>
<html>

<%- include('layouts/header.ejs') %>

<body>
  <%- include('layouts/navbar.ejs') %>
  <div class="container">
  <h1>Home</h1>
  </div>
  <%- include('layouts/footer.ejs') %>
</body>
</html>