<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); %>
<body class="homepage centerItems">
    <%- include('layouts/navbar'); %>
    <div class="container">
        <form method = "post">
        <!--Title-->
        <h2>LOGIN</h2>
        <!--variables for email-->
        <div class = "form-group">
        <lebel class="email">Email Address</lebel>
        <input
        type = "email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        />
        </div>
        <!--variables for password-->
        <div class="form-group">
            <lebel for="password">Password</lebel>
            <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
        />
        </div>
        <br />
        <!--Button to sign up-->
        <button type="submit" class="btn">Login</button>
        <!--Link, leads to Sign Up page once clicked-->
        <a class="'nav-item nav-link" href="signup">Have you Signed Up?</a>    
    </form>
    </div>   
</body>
<%- include('layouts/footer'); %>
</html>