<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); %>
<body class="homepage centerItems">
    <div>
      <!--Title-->
        <h1 class="h1-white">LOGIN</h2>
        <form action="/users/login" method="POST">
          <!--variables for email-->
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <!--variables for password-->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <!--Button to sign up-->
          <button type="submit">Login</button>
        </form>
        <p class="nav-link">
          <!--Link, leads to Sign Up page once clicked-->
          No Account? <a href="/users/register">Register</a>
        </p>
    </div>   
</body>
<%- include('layouts/footer'); %>
</html>