<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Workout Table</title>

</head>

<%- include('layouts/header.ejs') %>

<body class="homepage">

    <%- include('layouts/navbar.ejs') %>

    
    

        <div class="center" style="color: #EFECE0;">
            <h4 style="color: #EFECE0; font-size: 50pt;">Workout Planner</h4>
            <br><br>
        <input class="BigInput" type="text" name="workoutName" id="workoutName" placeholder="Name Your Workout">
        
        <br><br><br>
            
            Exercise: <input class="planner" type="text" name="exercise" id="exercise" style="width:200px; margin-right: 25px;" >
              Sets: <input class="planner" type="number" name="sets" id="sets" style="width:100px; margin-right: 8px;" min="1" >
              Reps: <input class="planner" type="number" name="reps" id="reps" style="width:100px;" min="1" >
            <br><br>
            
            <button onclick="addRow();" class="planner">Add</button>
            <button onclick="editSelectedRow();" class="planner" >Edit</button>
            <button onclick="removeSelectedRow();" class="planner" >Remove</button>
    </div>
    
    
    
        <div >
        <button style="margin-left: 80%;" class="saveButton">Save Workout</button>
            <center>
            <table class="planner" id="table" >
                <tr>
                    <th style="max-width:90px;">Exercise</th>
                    <th style="max-width:60px;">Sets</th>
                    <th style="max-width:60px;">Reps</th>
                </tr>
                
                
            </table>
        </center>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
    
        <div>
            <table class="saved" style="margin-left: 7%;" id="workouts" >
                <tr>
                    <th style="max-width:90px; text-align: center;">Saved Workouts</th>
                    <th style="max-width:60px; text-align: center;">Date</th>
                </tr>
                <tr>
                    <td>Chest Day</td>
                    <td>2024-01-17</td>
                </tr>
                <tr>
                    <td>Leg Day</td>
                    <td>2024-01-15</td>
                </tr>
                
            </table>
        <br><br>
        </div>

</body>
<script>

var rIndex, table = document.getElementById("table");
let arr= [ ];

function deleteRow(array1, row) //from array
{
    array1 = array1.slice(0); // make copy
    array1.splice(row - 1, 1);
    return array1;
}

function removeSelectedRow()//from table
{
                    
    table.deleteRow(rIndex);

    document.getElementById("exercise").value = "";
    document.getElementById("sets").value = "";
    document.getElementById("reps").value = "";
    
    arr=deleteRow(arr,rIndex); 
}
    
function inputCheck()
{
    var isEmpty = false,
                        
    exercise = document.getElementById("exercise").value,              
    sets = document.getElementById("sets").value,     
    reps = document.getElementById("reps").value;
            
                    
    if(exercise === ""){
                        
        alert("Please enter 'Exercise'.");
        isEmpty = true;
    }
                    
    else if(sets === ""|| sets<1){
        alert("Please enter 'Sets'.");
        isEmpty = true;
    }
                    
    else if(reps === ""|| reps<1){
        alert("Please enter 'Reps'.");
        isEmpty = true;
        }
        
        return isEmpty;
}
            
             
function addRow()
{
    if(!inputCheck()){
                    
        var newRow = table.insertRow(table.length),
                        
        cell1 = newRow.insertCell(0),
        cell2 = newRow.insertCell(1),
        cell3 = newRow.insertCell(2),
                        
        exercise = document.getElementById("exercise").value,
        sets = document.getElementById("sets").value,
        reps = document.getElementById("reps").value;
                
        cell1.innerHTML = exercise;
        cell2.innerHTML = sets;
        cell3.innerHTML = reps;
    
        let tempArr = [exercise,sets,reps];
        arr.push(tempArr);
        
        //call the function to set the event to the new row
        selectedRowToInput();
    }
             
}
    
function selectedRowToInput()
{
                    
    for(var i = 1; i < table.rows.length; i++)                
    {

        table.rows[i].onclick = function()
        {
            // get the index of the selected row
            rIndex = this.rowIndex;
                          
            document.getElementById("exercise").value = this.cells[0].innerHTML;
            document.getElementById("sets").value = this.cells[1].innerHTML;
            document.getElementById("reps").value = this.cells[2].innerHTML;
        };
                    
    }
    
    console.log(rIndex);

}
    
function editSelectedRow()
{
    var exercise = document.getElementById("exercise").value,
    sets = document.getElementById("sets").value,
    reps = document.getElementById("reps").value;
                   
    if(!inputCheck()){

    table.rows[rIndex].cells[0].innerHTML = exercise;
    table.rows[rIndex].cells[1].innerHTML = sets;
    table.rows[rIndex].cells[2].innerHTML = reps;
    
    }

}


</script>
</html>