/*GENERAL CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  }

.nav ul{
  margin: 0;
}

.h-white{
  color: white;
}

.nav li{
  display: inline;
}

.nav a{
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.nav a:hover{
  background-color: grey;
}

.main-nav {
  background-color: black;
  text-align: center;
  font-size: 1.1em;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li{
  padding: 0 5%;
}

.main-header{
  background-color: rgba(0, 0, 0, .6);
  background-size: cover;
}
  
.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  color: white;
  background-color: black;
}

/*LOGIN*/

.container-login{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
  text-decoration: none;
  color:white;
}
.nav-link:hover{
color:grey;
}
/*CALENDAR*/
  
  .calendar {
    width: 45rem;
    height: 90vh;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: grey;
  }

  .section-name{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 4em;
    background-color: black;
  }

/*NUTRITION*/

#calories{
  background-color: black;
}

.small-text{
  color: white;
}

.user-info{
  background-color: black;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.tabs button {
  background-color: #EFECE0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px; 
}

.tabs button:hover {
  background-color: #EFECE0;
}


.tab-content {
  display: none;
}

.dropdown {
  margin-top: 20px;
  text-align: center;
}

.tabs button.active {
  background-color: #EFECE0;
}

.tab-content.active {
  display: block;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

input.nutrition {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button.nutrition {
  background-color: #EFECE0;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0; 
}

button:hover {
  background-color: #EFECE0;
}

table.nutrition {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

tfoot {
  font-weight: bold;
}

#totalCalories {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

.tabs, .user-info {
  text-align: center;
}

.tabs button, .user-info button {
  background-color: #EFECE0;
  color:black;
  border: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.tabs button:hover, .user-info button:hover {
  background-color: #EFECE0;
}

.dropdown, .user-info label, .user-info select, .user-info, input.user-info {
  display: block;
  margin: auto;
}



th{
  border: 2px solid black;
  padding: 10px;
  background-color: #EFECE0;
  text-align: left;
}

td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
  color: #EFECE0;
}



.user-info p {
  margin-top: 10px;
  font-weight: bold;
}

/*HOMEPAGE*/
body.homepage {
  font-family: 'Arial', sans-serif;
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2em;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 3em;
  color: white;
}

header p {
  margin: 10px 0 0;
  color: white;
}

section {
  padding: 2em;
  background-color: white;
  color: black;
  margin: 1px;
  border-radius: 20px;
  box-shadow: 0 0 20px white(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  text-align: center;
}

.homepage-h2 {
  color: black;
}
.homepage-h3 {
  color: white;
}

ul {
  list-style-type: none;
  padding: 5px;
}

ul li {
  padding: 10px 0;
}

button.homepage {
  background-color: #EFECE0;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-align: center;
}

button:hover {
  background-color: #e2d59c;
}

/*PLANNER*/

table.planner  {
  border-collapse: collapse;
  width: 50%;
  margin-top: 100pt;
}

th.planner  {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  background-color: #EFECE0;
}

td.planner  {
  padding: 10px;
  text-align: center;
  background-color: #EFECE0;
}
button.planner{
  background-color: #EFECE0;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0; 
}

.center{
  text-align: center;
  
}

.centerItems{
  align-items: center;
}

input.planner{
  height:30px;
  font-size: 14pt;
  text-align: center;
  
}

input.BigInput{
  width:500px; 
  height: 35px; 
  font-size:20px;
}

